<!-- SageMaker Training Jobs partial -->
<script id="services.sagemaker.regions.id.training_jobs.partial" type="text/x-handlebars-template">
    <div id="resource-name" class="list-group-item active">
      <h4 class="list-group-item-heading">{{name}}</h4>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">Information</h4>
      <div class="list-group-item-text item-margin">Name: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.name"><samp>{{value_or_none name}}</samp></span></div>
      <div class="list-group-item-text item-margin">ARN: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.arn"><samp>{{value_or_none arn}}</samp></span></div>
      <div class="list-group-item-text item-margin">Status: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.status"><samp>{{value_or_none status}}</samp></span> <samp>{{value_or_none secondary_status}}</samp></div>
      <div class="list-group-item-text item-margin">Created at: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.creation_time"><samp>{{value_or_none creation_time}}</samp></span></div>
      <div class="list-group-item-text item-margin">Ended at: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.end_time"><samp>{{value_or_none end_time}}</samp></span></div>
      <div class="list-group-item-text item-margin">Execution role: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.role_arn"><samp>{{value_or_none role_arn}}</samp></span></div>
      <div class="list-group-item-text item-margin">Training image: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.training_image"><samp>{{value_or_none training_image}}</samp></span></div>
      <div class="list-group-item-text item-margin">Algorithm: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.algorithm_name"><samp>{{value_or_none algorithm_name}}</samp></span></div>
      <div class="list-group-item-text item-margin">Created by tuning job: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.tuning_job_arn"><samp>{{value_or_none tuning_job_arn}}</samp></span></div>
      <div class="list-group-item-text item-margin">Created by AutoML job: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.auto_ml_job_arn"><samp>{{value_or_none auto_ml_job_arn}}</samp></span></div>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">Resources</h4>
      <div class="list-group-item-text item-margin">Instance type: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.instance_type"><samp>{{value_or_none instance_type}}</samp></span></div>
      <div class="list-group-item-text item-margin">Instance count: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.instance_count"><samp>{{value_or_none instance_count}}</samp></span></div>
      <div class="list-group-item-text item-margin">Distributed: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.distributed"><samp>{{value_or_none distributed}}</samp></span></div>
      <div class="list-group-item-text item-margin">Volume size: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.volume_size"><samp>{{value_or_none volume_size}}</samp></span></div>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">Network</h4>
      <div class="list-group-item-text item-margin">Network isolation: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.network_isolation"><samp>{{value_or_none network_isolation}}</samp></span></div>
      <div class="list-group-item-text item-margin">Inter-container traffic encryption: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.inter_container_traffic_encryption"><samp>{{value_or_none inter_container_traffic_encryption}}</samp></span></div>
      <div class="list-group-item-text item-margin">In a VPC of the account: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.in_customer_vpc"><samp>{{value_or_none in_customer_vpc}}</samp></span></div>
      <div class="list-group-item-text item-margin">Subnets: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.subnets">{{#each subnets}}<samp>{{this}}</samp> {{/each}}</span></div>
      <div class="list-group-item-text item-margin">Security groups: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.security_groups">{{#each security_groups}}<samp>{{this}}</samp> {{/each}}</span></div>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">Encryption</h4>
      <div class="list-group-item-text item-margin">Output KMS key: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.output_kms_key_id"><samp>{{#if output_kms_key_id}}{{output_kms_key_id}}{{else}}AWS managed{{/if}}</samp></span></div>
      <div class="list-group-item-text item-margin">Output with customer managed key: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.output_encrypted_with_cmk"><samp>{{value_or_none output_encrypted_with_cmk}}</samp></span></div>
      <div class="list-group-item-text item-margin">Volume KMS key: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.volume_kms_key_id"><samp>{{#if volume_kms_key_id}}{{volume_kms_key_id}}{{else}}AWS managed{{/if}}</samp></span></div>
      <div class="list-group-item-text item-margin">Volume with customer managed key: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.volume_encrypted_with_cmk"><samp>{{value_or_none volume_encrypted_with_cmk}}</samp></span></div>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">Data</h4>
      <div class="list-group-item-text item-margin">Output location: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.output_s3_path"><samp>{{value_or_none output_s3_path}}</samp></span></div>
      <div class="list-group-item-text item-margin">Model artifact: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.model_artifact"><samp>{{value_or_none model_artifact}}</samp></span></div>
      <div class="list-group-item-text item-margin">Hyperparameters: <span id="sagemaker.regions.{{region}}.training_jobs.{{@key}}.hyperparameter_names">{{#each hyperparameter_names}}<samp>{{this}}</samp> {{/each}}</span></div>
      {{#if input_channels}}
      <div class="list-group-item-text item-margin">Input channels:
        <ul>
          {{#each input_channels}}
          <li class="list-group-item-text"><samp>{{value_or_none name}}</samp> — <samp>{{value_or_none s3_uri}}</samp><samp>{{value_or_none file_system_id}}</samp></li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </div>
  </script>
  <script>
    Handlebars.registerPartial("services.sagemaker.regions.id.training_jobs", $("#services\\.sagemaker\\.regions\\.id\\.training_jobs\\.partial").html());
  </script>
  <!-- Single SageMaker training job template -->
  <script id="single_sagemaker_training_job-template" type="text/x-handlebars-template">
    {{> modal-template template='services.sagemaker.regions.id.training_jobs' }}
  </script>
  <script>
    var single_sagemaker_training_job_template = Handlebars.compile($("#single_sagemaker_training_job-template").html());
  </script>
